html,
body,
#root{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

html{
  background-color: #efb35f;
}

canvas{
  touch-action: none;
  background-color: #efb35f;
}

.interface{
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.interface img{
  width: 20px;
  cursor: pointer;
}